.select{
    margin: 10px;
    width: 200px;
    height: 30px;
}
.form-label{
    margin: 10px;
    font-size: x-large;
}
.form-input{
    margin: 10px;
    width: 200px;
    height: 30px;
}
.file-input{
    margin: 10px;
    width: 200px;
    height: 30px;
}
.btn{
    width: 150px;
    height: 30px;
    margin: 10px;
}
.btn-sub{
    width: 200px;
    height: 30px;
    margin-top: 40px;
    margin-left: 50px;
}
.btn-upd:focus{
    background-color: green;

}
.cart-items{
    width: 500px;
    float: left;
    margin: 20px;
    border: solid 1px;
    padding: 5px;
}
.image{
    width: 200px;
    height: 200px;
    float: left;
    border: solid 1px;
    padding: 5px;
}
.form{
    float: left;
    margin-left: 10px;
    border: solid 1px;
    padding: 5px;
}
.form_input{
    display: block;
}
.form_label{
    display: block;
}
.form-label-seller{
    display: block;
    font-size: x-large;
    margin-top: 10px;
}
.form-input-seller{
    display: block;
    width:200px;
    height: 30px;
    margin-left: 20px;
    padding: 5px;
   

}
.form-container-seller{
    width:60%;
    margin-left: 20% ;
    margin-right: 20%;
    border: solid 1px;
    padding: 20px;
}
.file-seller{
    margin-top: 10px;
    border: solid 1px;
    padding: 10px;
}
.btn-submit-seller{
    margin: 20px;
    width: 150px;
    height: 30px;
    background-color: blue;
    color: white;
    
}
.btn-submit-seller:hover{
    background-color: aqua;
    color: black;
}